In [4]:
# Creating a List 
List = [] 
print("Blank List: ") 
print(List)

Blank List:
[]

In [7]:
# Creating a List of numbers 
List = [10, 20, 23] 
print("\nList of numbers: ") 
print(List)

List of numbers:
[10, 20, 14]

In [37]:
# Creating a List of strings and accessing 
# using index 
List = ["Jalaj", "Yadav"] 
print("\nList Items: ") 
print(List[0])  
print(List[1])

List Items:
Jalaj
Yadav

In [38]:
# Creating a Multi-Dimensional List 
# (By Nesting a list inside a List) 
List = [['Jalaj', 'Yadav'] , ['Jlj']] 
print("\nMulti-Dimensional List: ") 
print(List)

Multi-Dimensional List:
[['Jalaj', 'Yadav'], ['Jlj']]

In [39]:
#Updating Lists
list = ['physics', 'chemistry', 2001, 2000];
print("Value available at index 2 : ")
print (list[2])
list[2] = 2005;
print ("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
2001
New value available at index 2 :
2005

In [40]:
#Delete List Elements
list1 = ['physics', 'chemistry', 2001, 2000];
print(list1)
del list1[2];
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 2001, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [17]:
#Length of List
len([1, 2, 3])

3

In [19]:
#Concatenation 
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [21]:
#Repition
['Hi!'] * 4

['Hi!', 'Hi!', 'Hi!', 'Hi!']

In [23]:
#To check Membership
3 in [1, 2, 3]

True

In [25]:
#Iteration
for x in [1, 2, 3]: print(x)

1
2
3

In [41]:
#Max element
list1, list2 = ['veer', 'zara', 'brand'], [456, 700, 200]
print("Max value element : ", max(list1))
print("Max value element : ", max(list2))
    
#Min element
list1, list2 = ['veer', 'zara', 'brand'], [456, 700, 200]
print("min value element : ", min(list1))
print("min value element : ", min(list2))

Max value element :  zara
Max value element :  700
min value element :  brand
min value element :  200

In [30]:
# Addition of elements in a List using append() method
  
# Creating a List 
List = [] 
print("Initial blank List: ") 
print(List) 
  
# Addition of Elements  
# in the List 
List.append(1) 
List.append(2) 
List.append(4) 
print("\nList after Addition of Three elements: ") 
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

In [32]:
# Adding elements to the List 
# using Iterator 
for i in range(1, 4): 
    List.append(i) 
print("\nList after Addition of elements from 1-3: ") 
print(List)

List after Addition of elements from 1-3:
[1, 2, 4, 1, 2, 3, 1, 2, 3]

In [42]:
# Addition of Element at  specific Position using Insert Method 
List.insert(3, 12) 
List.insert(0, 'Jalaj') 
print("\nList after performing Insert Operation: ") 
print(List)

List after performing Insert Operation:
['Jalaj', ['Jalaj', 'Yadav'], ['Jlj'], 12]

In [46]:
# Addition of multiple elements  to the List at the end using Extend Method
List.extend([8, 'There', 'Always']) 
print("\nList after performing Extend Operation: ") 
print(List)

List after performing Extend Operation:
['Jalaj', ['Jalaj', 'Yadav'], ['Jlj'], 12, 8, 'Jalaj', 'Yadav', 8, 'Jlj', 'Always', 8, 'There', 'Always', 8, 'There', 'Always']